
@{
    ViewData["Title"] = "TwoFactorAuth";
}

@model WebAdvert.Web.Models.Accounts.TwoFactorAuthModel

<div class="row">
    <div class="col-md-6">
        <h4>Please confirm your email address and the code you just received.</h4>
        <hr />

        <form asp-action="TwoFactorAuth" asp-controller="Accounts" method="post">
            <span asp-validation-for="All" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-primary">Submit</button>
        </form>
    </div>
</div>

